<br>
<div id="donnor-page">
	<div class="row">
		<div id="user-info" class="small-12">
			<div class="small-12">
				<%= image_tag @donor.avatar.url(:thumb), class: "circle-img float-center" %>
		    </div>
		    <br>
		    <div class="text-center">
		    	<h6><%= @donor.first_name %> <%= @donor.last_name %></h6>
		    	<h6><%= @donor.day_of_birth %></h6>
		    	<h6><%= @donor.email %></h6>
		    </div>
		</div>
	</div>
    <br>
    <% if @helped_students.count == 0 %>
    	<div class="row">
    		<div class="small-12 text-center">
    			<h4>You haven't helped anyone yet</h4>
    			<%= link_to "Help someone!", child_search_path, class: "button"%>
    		</div>
    		
    	</div>
    <% else %>
	    <div id="user-card" class="row">
		    <div class="small-10 float-center">
		    	<h4>You have helped</h4>
		    	<% @helped_students.uniq.each do |student| %>
		    	<div  class="card text-center small-8 small-push-2 medium-4 medium-pull-0 end column">
				    <div class="circle-img">
				    	<%= link_to child_path(student) do %>
				    		<%= image_tag student.photo.url(:thumb), class: "circle-img" %>
				    	<% end %>
				    </div>
			        <div>
						<h6><%= student.first_name%></h6>
						<h6 class="truncate"><%= student.email_address %></h6>
						<h6><%= student.birthday %></h6>
				    </div>
			    </div>
			    <% end %>
		    </div>
	    </div>
    <% end %>
    <br>
</div>
<br>