<br>
<div id="parent-page">
	<div class="row">
		<div id="user-info" class="callout small-10 small-push-1 medium-6 medium-push-3 large-4 large-push-4 columns">
			<div class="small-12 columns">
				<%= image_tag @parent.avatar.url(:thumb), class: "circle-img float-center" %>
		    </div>
		    <div class="small-12 text-center columns">
		    	<br>
		    	<h6 class="truncate"><%= @parent.first_name %> <%= @parent.last_name %></h6>
		    	<h6 class="truncate"><%= @parent.email %></h6>
		    	<h6><%= @parent.day_of_birth %></h6>
		    	<h6 class="truncate"><%= @parent.biography %></h6>
		    </div>
		</div>
	</div>
    <div id="user-card" class="row">
	    <div class="small-12 columns">
	    	<h4>My Children</h4>
	    	<% if @parent.children.count == 0 %>
	    		<div class="callout medium-6 medium-pull-3 text-center columns">
	    			<h4><i>Add your children to stablish funding goal!</i></h4>
	    		</div>
	    	<% else %>
		    	<% @parent.children.each do |child| %>
				    <div  class="card text-center small-8 small-push-2 medium-4 medium-pull-0 end columns">
				      <div class="circle-img">
				        <%= link_to image_tag(child.photo.url(:thumb), class:'circle-img'), child_path(child) %>
				      </div>
				      <div>
				          <h6 class="truncate"><%= child.first_name %> <%= child.last_name %></h6>
				          <h6 class="truncate"><%=  child.user_name %></h6>
				          <h6><%=  child.birthday %></h6>
				          <h6 class="truncate"><%=  child.email_address %></h6>
				      </div>
				    </div>
				<% end %>
			<% end %>
	    </div>
    </div>
    <div class="row">
    	<div class="small-12 text-center columns">
    		<br>
    		<%= link_to "Add Child", new_child_path, class: "button" %>
    	</div>
    </div>
    <br>
    <div id="user-card" class="row">
	    <div class="small-12 columns">
	    	<h4>My Contributors</h4>
	    	<% if @parent.contributors.count == 0 %>
	    		<div class="callout medium-6 medium-pull-3 text-center columns">
	    			<h4><i>Invite contributors to reach your children goals faster!</i></h4>
	    		</div>
	    	<% else %>
		    	<% @parent.contributors.each do |contributor| %>
				    <div class="card text-center small-8 small-push-2 medium-4 medium-push-0 end columns">
				      <div class="circle-img">
				        <%= link_to image_tag("slide01.jpg", class:'circle-img'), contributor_path(contributor) %>
				      </div>
				      <div>
				        <h6 class="truncate"><%=  contributor.first_name %> <%=  contributor.last_name %></h6>
				        <h6 class="truncate"><%=  contributor.email_address %></h6>
				        <h6 style="margin-bottom: 40px;"><%= relationship(contributor.relationship) %></h6>
				      </div>
				    </div>
				<% end %>
			<% end %>
	    </div>
    </div>
    <br>
    <div class="row">
    	<div class="small-12 text-center">
    		<%= link_to "Invite Contributor", new_contributor_path, class: "button" %>
    	</div>
    </div>
</div>
<br>