<br>
<div id="parent-page">
	<div class="row">
		<div id="user-info" class="small-12">
			<div class="small-12">
				<%= image_tag @user.avatar.url(:thumb), class: "circle-img float-center" %>
		    </div>
		    <br>
		    <div class="text-center">
		    	<h6><%= @user.first_name %> <%= @user.last_name %></h6>
		    	<h6><%= @user.email %></h6>
		    	<h6><%= @user.day_of_birth %></h6>
		    	<h6><%= @user.biography %></h6>
		    </div>
		</div>
	</div>   
<br>
</div>
