<br>
<div id="student-page">
	<div class="row">
		<div id="user-info" class="small-12 medium-6 column">
			<div class="small-12">
				<%= image_tag @student.photo.url(:thumb), class: "circle-img float-center" %>
		    </div>
		    <br>
		    <div class="text-center">
		    	<h6><%= @student.first_name %> <%=  %></h6>
		    	<h6><%= @student.birthday %></h6>
		    	<h6 class="truncate"><%= @student.email_address %></h6>
		    </div>
	    </div>
	    <div class="small-12 medium-6 column">
	    	<div id="goal-container" class="">
	    		<div class="text-center">
	    			<h5><b>Student Fund Goal</b></h5>
	    		</div>
	    		<br>
	    		<div class="small-10 small-push-1">
	    			<h6><b>Goal:</b> <%= humanized_money_with_symbol @student.funding_goal %></h6>
	    			<h6><b>Current Amount:</b><%= @student.donations_amount_cents %></h6>
	    		</div>
			    <div class="progress small-10 small-push-1" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  					<div class="progress-meter" style="width:<%= donationPercentage(@student.funding_goal_cents, @student.donations_amount_cents) %>;"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
				</div>
				<div class="text-center">
				<% if can? :update, @child and @child.parent == current_user %>
					<%= link_to "Update Information", edit_child_path(@child), class: "button" %>
				<% end %>
				<%= link_to "Views Donations", child_donations_path(@student), class: "button" %>
			    </div>
		    </div>
	    </div>
	</div>
    <br>
    <% if @student.parent.present?%>
    	<div id="user-card" class="row">
	    	<div class="small-12 columns">
	    		<div class="small-12 medium-10 medium-push-1 columns">
		    		<h4>Student's Parents</h4>
		    	</div>
		    	<div  class="card text-center small-push-2 end column">
				    <div class="circle-img">
				        <%= image_tag("slide01.jpg",:class => "circle-img") %>
				    </div>
			        <div>
						<h6 class="truncate"><%= @student.parent.first_name %></h6>
						<h6><%= @student.parent.email_address %></h6>
				    </div>
			    </div>
		    </div>
	    </div>
	<% else %>
	<div class="row">
		<div class="callout small-12 medium-6 medium-push-3 text-center columns">
			<h4 style="color:black;"><i>You don't have a parent associated to your account</i></h4>
		</div>
	</div>
    <% end %>
    
    <br>
    <div id="user-card" class="row">
	    <div class="small-12">
	    	<div class="small-12 medium-10 medium-push-1">
	    		<h4>Student's donnors</h4>
	    	</div>
	    	<% @student_donors.uniq.each do |donor| %>
		    	<div  class="card text-center small-push-2 end column">
			      	<div class="circle-img">
			       		<%= image_tag("slide01.jpg",:class => "circle-img") %>
			      	</div>
			     	<div>
			        	<h6><%= donor.first_name %></h6>
			        	<h6 class="truncate"><%= donor.email %></h6>
			      	</div>
		    	</div>
		    <% end %>
	    </div>
    </div>
</div>
<br>
