<%= form_for Child.new, builder: FoundationFormBuilder, remote: true, html: { multipart: true }, authenticity_token: true do |f| %>
  <div class="callout small small-12 medium-6 medium-push-3">
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :birthdate %>
      <div class="small-10 small-push-1 medium-6 medium-push-3">
        <%= f.date_select :birthday, {order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %>
      </div>
    </div>
    <div class="field">
      <%= f.label :user_name %>
      <%= f.text_field :user_name %>
    </div>
    <div class="field">
      <%= f.label :funding_goal %>
      <%= f.text_field :funding_goal, label: "Amount", data: { role: 'money', a_sep: ',', a_dec: '.' } %>
    </div>
    <div class="field">
      <%= f.label :photo, "Photo of Child" %>
      <%= f.file_field :photo %>
    </div>
    <div class="field">
      <%= f.label :email_address %>
      <%= f.email_field :email_address, autofocus: true, placeholder:"Child's email address" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Add Child"%>
    </div>
  </div>
<% end %>