<% if @children.length == 0%>
  <br>
  <div class="row">
    <div class="small-12 text-center">
      <h3>There are no children to show</h3>
    </div>
  </div>
<% end %>
<div id="child-search-result" class="row">
  <div class="small-10 small-pull-1 medium-push-1">
    <% @children.each do |child| %>
      <div  id="card" class="text-center small-8 small-push-2 medium-4 medium-pull-0 end column">
        <div id="image-container">
          <%= link_to image_tag(child.photo.url(:thumb), class: 'circle-image'), child_path(child) %>
        </div>
        <div id="progress-container">
          <div class="progress small-10 small-push-1" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-meter" style="width:<%= donationPercentage(child.funding_goal_cents, child.donations_amount_cents) %>;"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
          </div>
        </div>
        <div id="information-container">
          <h4 class="truncate"><%= child.first_name %> <%= child.last_name %></h4>
          <h6 class="truncate"><%= child.user_name %></h6>
          <h6><%= child.birthday %></h6>
          <h6 class="truncate"><%= child.email_address %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>
