<br>
<div class="row">
	<div class="small-12 text-center">
		<h4>Edit Your Child </h4>
		<%= form_for(@child, builder: FoundationFormBuilder, method: :put) do |f| %>
			<div class="field">
			  <%= f.label :first_name %>
			  <%= f.text_field :first_name %>
			</div>
			<div class="field">
			  <%= f.label :last_name %>
			  <%= f.text_field :last_name %>
			</div>
			<div class="field">
			  <%= f.label :birthdate %>
			  <div class="small-10 small-push-1 medium-6 medium-push-3">
			    <%= f.date_select :birthday, {order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %>
			  </div>
			</div>
			<div class="field">
			  <%= f.label :user_name %>
			  <%= f.text_field :user_name %>
			</div>
			<div class="field">
			  <%= f.label :photo, "Photo of Child" %>
			  <%= f.file_field :photo %>
			</div>
			<div class="field">
			  <%= f.label :email_address %>
			  <%= f.email_field :email_address, autofocus: true, placeholder:"Child's email address" %>
			</div>
			<br>
			<div class="actions">
			  <%= f.submit "Save"%>
			</div>
		<% end %>
	</div>
</div>