<p id="notice"><%= notice %></p>
<br>
<div class="text-center">
  <h4>My Children</h4>
</div>
<div id="child-information" class="row">
  <% @children.each do |child| %>
    <div  class="card text-center small-8 small-push-2 medium-4 medium-pull-0 end column">
      <div class="circle-img">
        <%= link_to image_tag(child.photo.url(:thumb), class:'circle-img'), child_path(child) %>
      </div>
      <div>
          <h6><%=  child.first_name %> <%=  child.last_name %></h6>
          <h6><%=  child.user_name %></h6>
          <h6><%=  child.birthday %></h6>
          <h6><%=  child.email_address %></h6>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="text-center">
  <%= link_to "Add Child", after_register_path(:your_children), class: "button" %>
</div>
