<br>
<div class="text-center">
	<h4>New Child</h4>
</div>
<%= render 'form', child: @child %>
<div class="row">
	<div class="small-12 text-center">
		<%= link_to 'Back', children_path, class: "button" %>
	</div>
</div>
