<br>
<div id="student-page">
	<div class="row">
		<div id="user-info" class="small-12 medium-6 column">
			<div class="small-12">
				<%= image_tag @child.photo.url(:thumb), class: 'circle-img float-center' %>
		    </div>
		    <br>
		    <div class="text-center">
		    	<h6><%= @child.first_name %> <%= @child.last_name %></h6>
		    	<h6><%= @child.birthday %></h6>
		    	<h6><%= @child.email_address %></h6>
		    </div>
	    </div>
	    <div class="small-12 medium-6 column">
	    	<div id="goal-container" class="">
	    		<div class="text-center">
	    			<h5><b>Student Fund Goal</b></h5>
	    		</div>
	    		<br>
	    		<div class="small-10 small-push-1">
	    			<h6><b>Goal:</b> <%= humanized_money_with_symbol @child.funding_goal %></h6>
	    			<h6><b>Current Amount:</b> <%= humanized_money_with_symbol @amount %></h6>
	    		</div>
			    <div class="progress small-10 small-push-1" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  					<div class="progress-meter" style="width: <%= donationPercentage(@child.funding_goal_cents, @amount_cents) %>;"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
				</div>
			    <div class="text-center">
			    	<%= link_to "Donate", new_child_donation_path(@child), class: "button" %></a>
				<% if can? :update, @child and @child.parent == current_user %>
					<%= link_to "Update Information", edit_child_path(@child), class: "button" %>
				<% end %>
				<%= link_to "Views Donations", child_donations_path(@child), class: "button" %>
			    </div>
		    </div>
	    </div>
	</div>
    <br>
    <% if @child.parent.present? %>
	    <div id="user-card" class="row">
	    	<div class="small-12 columns">
	    		<div class="small-12 medium-10 medium-push-1 columns">
		    		<h4>Student's Parent</h4>
		    	</div>
		    	<div  class="card text-center small-push-2 end columns">
				    <div class="circle-img">
				    	<%= link_to public_profile_path(profile: @child.parent.id) do %>
			        	<%= image_tag("slide01.jpg",:class => "circle-img") %>
			        <% end %>
				    </div>
			        <div>
						<h6><%= @child.parent.first_name %></h6>
						<h6><%= @child.parent.email %></h6>
				    </div>
			    </div>
		    </div>
	    </div>
    <% end %>
    <br>
    <% if @student_donors.count == 0 %>
    	<div class="row">
    		<div class="small-12 text-center">
    			<h4>This student doesn't have donnors</h4>
    		</div>
    	</div>
    <% else %>
	    <div id="user-card" class="row">
		    <div class="small-12 columns">
		    	<div class="small-12 medium-10 medium-push-1 columns">
		    		<h4>Student's donnors</h4>
		    	</div>
		    	<% @student_donors.uniq.each do |donor| %>
			    	<div  class="card text-center small-push-2 end columns">
				      	<div class="circle-img">
				    	<%= link_to donor_profile_path(donor) do %>
				    		<%= image_tag donor.avatar.url(:thumb), class: "circle-img" %>
				    	<% end %>
				    </div>
			     	<div>
			        	<h6><%= donor.first_name %></h6>
			        	<h6 class="truncate"><%= donor.email %></h6>
			      	</div>
			    	</div>
			    <% end %>
		    </div>
	    </div>
	<% end %>
</div>
<br>
