<br>
<div class="text-center">
  <h4>Edit <%= resource_name.to_s.humanize %></h4>
</div>
<%= form_for(resource, builder: FoundationFormBuilder, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="callout small small-12 medium-6 medium-push-3">
    <div class="form-group">
      <%= f.label :avatar, "Attach Profile Image (Optional)" %>
      <div class="col-lg-10">
        <%= f.file_field :avatar %>
      </div>
      <% if resource.avatar? %>
        <div class="form-group">
          <div class="small-10 small-push-1 medium-6 medium-push-3 text-center">
            <label>Current Profile Image</label>
            <div>
              <%= image_tag resource.avatar.url(:thumb) %>
            </div>
          </div>
        </div>
        <br>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :password %>
        <div class="small-10 small-push-1 medium-6 medium-push-3" style="font-size: 0.5em;">
          <span>(leave blank if you don't want to change it)</span>
        </div>
      <%= f.password_field :password, autocomplete: "off", placeholder:"6 characters minimum" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"6 characters minimum" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
