<br>
<div class="text-center">
  <div class="callout small small-12 medium-6 medium-push-3">
    <h5>Social Media Sign Up</h5>
    <br>
    <%= link_to "Facebook", user_facebook_omniauth_authorize_path, class: "button" %>
  </div>
  <br>
  <p>Or</p>
  <br>
</div>
<%= form_for(resource, builder: FoundationFormBuilder, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="callout small small-12 medium-6 medium-push-3">
    <div class="text-center">
      <h5>CollegeFundMe Sign up</h5>
    </div>
    <br>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, value: (@donor.first_name if !@donor.nil?) %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, value: (@donor.last_name if !@donor.nil?) %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, value: (@donor.email_address if !@donor.nil?) %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", placeholder:"6 characters minimum" %>
    </div>
    <%= hidden_field_tag "donor", params[:donor] %>
    <%= hidden_field_tag "parent", params[:parent] %>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"6 characters minimum" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </div>
<% end %>
<br>
