<div class="expanded row">
  <div class="owl-carousel">
    <div><%= image_tag("slide01.jpg") %></div>
    <div><%= image_tag("slide02.jpg") %></div>
    <div><%= image_tag("slide03.jpg") %></div>
  </div>
</div>
<div class="gray-space"></div>
<div id="boxes-section" class="expanded row text-center">
  <div class="small-12 medium-6 box column">
    <span id="bolt-icon"><i class="fa fa-bolt" aria-hidden="true"></i></span>
    <h3>Easy College Fund Contributions</h3>
    <p>Typically, 529 and Coverdell Esa college savings plans are funded almost exclusively by parents. However, when grandparents, extended family or friends want to donate to a college fund, the current donation process is difficult and cumbersome. CollegeFund.me makes it easy to socialize your college fund savings.</p>
  </div>
  <div class="small-12 medium-6 box column">
    <span id="lock-icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
    <h3>Safe and Secure</h3>
    <p>Contributing to your child's college fund usually requires the donor knowing the child’s fund details and blindly mailing a check. CollegeFund.me provides a secure solution, which keeps the parent in control of all donated funds, determining where and when the funds are transferred.
    </p>
  </div>
  <div class="small-12 medium-6 box column">
    <span id="line-chart-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
    <h3>An Alternative to Toys and Gift Cards</h3>
    <p>CollegeFund.me provides friends and family with an alternative birthday and holiday gift option. Instead of giving gift cards or toys – which do not provide long-term benefit to college-bound children or their parents, contributing to a child's educations is a better option.</p>
  </div>
  <div class="small-12  medium-6 box column">
    <span id="refresh-icon"><i class="fa fa-refresh" aria-hidden="true"></i></span>
    <h3>One-off or Recurring Contributions</h3>
    <p>It’s quick and easy to use a credit card to make one-time college fund contributions or to set-up recurring contributions on a weekly, monthly, quarterly or annual basis.</p>
  </div>
  <div class="small-12 medium-6 box column">
    <span id="angellist-icon"><i class="fa fa-angellist" aria-hidden="true"></i></span>
    <h3>Trust is Our Mission</h3>
    <p>Our mission is to provide a safe and trusted platform where people interact honestly as they collaborate to help fund education by enabling simple and easy contributions to 529 and Coverdell Esa college savings plans.</p>
  </div>
  <div class="small-12 medium-6 box column">
    <span id="sliders-icon"><i class="fa fa-sliders" aria-hidden="true"></i></span>
    <h3>Parents</h3>
    <p>As the parent or guardian - and the Account Owner of the college fund - we put you in control. On the CollegeFund.me platform, the college fund Account Owner decides where and when funds are sent.</p>
  </div>
</div>
