<%= form_for([@child, @donation], builder: FoundationFormBuilder) do |f| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <div class="small-12 medium-10 medium-push-1 alert callout small" data-closable>
        <h4><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h4>
        <ul>
        <% donation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true" style="color:white;">&times;</span>
      </button>
    </div>
  <% end %>
  <div class="callout small small-12 medium-6 medium-push-3">
    <div class="field">
      <%= f.label :amount %>
      <%= f.text_field :amount, label: "Amount", data: { role: 'money', a_sep: ',', a_dec: '.' } %>
    </div>
    <div class="field">
      <%= f.label :message %>
      <%= f.text_field :message %>
    </div>
    <%= hidden_field_tag "child", params[:child] %>
    <div class="actions">
      <%= f.submit "Donate" %>
    </div>
  </div>
<% end %>
