<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-12 text-center">
    <h4>Donations</h4>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @child.donations.each do |donation| %>
      <tr>
        <td><%= donation.amount %></td>
        <td><%= donation.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
