<br>
<div class="text-center">
	<h4>New Donation</h4>
</div>
<%= render 'form', donation: @donation %>
<div class="row">
	<div class="small-12 text-center">
		<%= link_to 'Back', child_path(@child), class: "button" %>
	</div>
</div>
