<div class="expanded row">
	<ul class="tab small-12 medium-12">
		<% if step == @steps[0] %>
	  <li id="tab1"><%= link_to "Add Role", after_register_path(:add_role)%></li>
	  <li id="tab2"  class="not-active"><%= link_to "About You", after_register_path(:about_you) %></li>
	  <li id="tab3"  class="not-active"><%= link_to "Your Children", after_register_path(:your_children)%></li>
	  <li id="tab4" class="not-active"><%= link_to "Contributors", after_register_path(:contributor)%></li>
	  <% elsif step == @steps[1] %>
	  <li id="tab1"><%= link_to "Add Role", after_register_path(:add_role)%></li>
	  <li id="tab2"><%= link_to "About You", after_register_path(:about_you) %></li>
	  <li id="tab3"  class="not-active"><%= link_to "Your Children", after_register_path(:your_children)%></li>
	  <li id="tab4" class="not-active"><%= link_to "Contributors", after_register_path(:contributor)%></li>
	  <% elsif step == @steps[2] %>
	  <li id="tab1"><%= link_to "Add Role", after_register_path(:add_role)%></li>
	  <li id="tab2"><%= link_to "About You", after_register_path(:about_you) %></li>
	  <li id="tab3"><%= link_to "Your Children", after_register_path(:your_children)%></li>
	  <li id="tab4" class="not-active"><%= link_to "Contributors", after_register_path(:contributor)%></li>
	  <% elsif step == @steps[3] %>
	  <li id="tab1"><%= link_to "Add Role", after_register_path(:add_role)%></li>
	  <li id="tab2"><%= link_to "About You", after_register_path(:about_you) %></li>
	  <li id="tab3"><%= link_to "Your Children", after_register_path(:your_children)%></li>
	  <li id="tab4"><%= link_to "Contributors", after_register_path(:contributor)%></li>
	  <% end %>
	</ul>
</div>
<br>
