<%= render partial: 'form_tabs', step: @step %>
  <div class="row">
    <br>
    <div class="small-12 text-center">
      <%= link_to "Link to Facebook", user_facebook_omniauth_authorize_path(), class: "button"%>
    </div>
  </div>
  <br>
  <%= form_for(@user, builder: FoundationFormBuilder, url: wizard_path, method: :put) do |f| %>
    <div class="callout small small-12 medium-6 medium-push-3">
      <div class="small-12 text-center">
        <h4>About You </h4>
      </div>
      <div class="form-group">
        <br>
        <%= f.label :avatar, "Attach Profile Image (Optional)" %>
        <div class="col-lg-10">
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
    
      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :day_of_birth, "Date of Birth"%>
        <div class="row">
          <div class="small-10 small-push-1 medium-6 medium-push-3">
            <%= f.date_select :day_of_birth,
             {order: [:day, :month, :year],
              prompt: { day: 'Day', month: 'Month', year: 'Year' },
               start_year: Date.today.year - 18, end_year: Date.today.year - 100},
               {required: true} %>
          </div>
        </div>
      </div>
    <% if params[:role_student] == "Student" %>
      <div class="field">
        <%= f.label :user_name %>
        <%= f.text_field :user_name, required: true %>
      </div>
      <div class="field">
        <div class="small-10 small-push-1 medium-6 medium-push-3 ">
          <%= label_tag :funding_goal %>
          <%= text_field_tag :funding_goal, "", data: { role: 'money', a_sep: ',', a_dec: '.' }, required: true %>
        </div>
      </div>
    <% end %>
    <%= hidden_field_tag "role_student", params[:role_student] %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :biography %>
      <%= f.text_area :biography, placeholder: "Tell people about you..." %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <div class="small-10 small-push-1 medium-6 medium-push-3 ">
       <%= text_field_tag "", "", class: "form-control autocomplete", placeholder: "Where are you?" %>
      </div>
      <%= f.submit 'Next', class: "button" %>
    </div>
  </div>
    <br>
    
  <% end %>
  <br> 
</div>

