<%= render partial: 'form_tabs', step: step %>
<div class="small-12 text-center">
  <h4><i>Welcome!</i></h4>
  <%= form_tag( after_register_path(:about_you), builder: FoundationFormBuilder, method: :get) do %>
    <br>
    <div class="row">
      <div class="small-10 small-push-1 medium-6 medium-push-3 text-center">
        <h4><%= label "", "Choose a role" %></h4>
        <%= select_tag 'role_student', options_for_select([ "Parent", "Donor","Student" ], "Yes")%>
      </div>
    </div>
    <%= submit_tag 'Next', class: "button" %>
  <% end %>
</div>
<br>
