<%= render partial: 'form_tabs', step: step %>
  <br>
  <div class="text-center">
    <h4>Invite Contributors</h4>
  </div>
  <div id="contributor-form">
    <div class="callout small small-12 medium-6 medium-push-3">
      <%= render "contributors/form" %>
    </div>
  </div>
  <br>
  <div class="text-center">
    <%= link_to 'Next', next_wizard_path, class:"button" %>
  </div>
  <br>
</div>
