<%= render partial: 'form_tabs', step: step %>
  <br>
  <div class="text-center">
    <h4>Add a Child</h4>
  </div>  
  <div id="child-form">
    <%= render "children/form" %>
  </div>
  <br>
  <div class="text-center">
    <%= link_to 'Next', next_wizard_path, class: "button"%>
  </div>
  <br>
</div>
