<br>
<div class="text-center">
  <div class="callout small small-12 medium-6 medium-push-3">
    <h5>Social Media Sign Up</h5>
    <br>
    <%= link_to "Facebook", user_facebook_omniauth_authorize_path, class: "button" %>
  </div>
  <br>
  <p>Or</p>
  <br>
</div>
<%= form_for(resource, builder: FoundationFormBuilder, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="callout small small-12 medium-6 medium-push-3">
    <div class="text-center">
      <h5>CollegeFundMe Log In</h5>
    </div>
    <br>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email%>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <div class="actions">
    <%= f.submit "Log in" %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div class="small-12 text-center">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>
    <% end -%>
  </div>
  </div>
  <br>
<% end %>
<br>
