/* Small only */
@media screen and (max-width: 39.9375em) {

	#student-page{
		#user-card{
			.card{
				position:relative;
				border:thin solid;
				border-radius:20px;
				border-color:orange;
				width:200px;
				margin-top:4em;
				padding-top:3em;

				.circle-img{
					position:absolute;
					left:35px;
					bottom:2.5em;
					width: 4em;
					height: 4em;
					border-radius: 50%;
				}
			}
		}
	}

	#parent-page{
		#user-card{
			.card{
				position:relative;
				border:thin solid;
				border-radius:20px;
				border-color:orange;
				width:200px;
				margin-top:4em;
				padding-top:3em;

				.circle-img{
					position:absolute;
					left:35px;
					bottom:70px;
					width: 4em;
					height: 4em;
					border-radius: 50%;
				}
			}
		}
	}

	#donnor-page{
		#user-card{
			.card{
				position:relative;
				border:thin solid;
				border-radius:20px;
				border-color:orange;
				width:200px;
				margin-top:4em;
				padding-top:3em;

				.circle-img{
					position:absolute;
					left:35px;
					bottom:55px;
					width: 4em;
					height: 4em;
					border-radius: 50%;
				}
			}
		}
	}

}

/* Medium and up */
@media screen and (min-width: 40em) {

	#student-page{

		#user-card{

			.card{
				position:relative;
				border:thin solid;
				border-radius:20px;
				border-color:orange;
				width:200px;
				margin-top:4em;
				margin-right:1em;
				padding-top:3em;

				.circle-img{
					position:absolute;
					left:37px;
					bottom:2.6em;
					width: 4em;
					height: 4em;
					border-radius: 50%;
				}
			}
		}
	}

	#parent-page{

		#user-card{

			.card{
				float:left;
				position:relative;
				border:thin solid;
				border-radius:20px;
				border-color:orange;
				width:200px;
				margin-top:4em;
				margin-right:1em;
				padding-top:3em;

				.circle-img{
					position:absolute;
					left:35px;
					bottom:70px;
					width: 4em;
					height: 4em;
					border-radius: 50%;
				}
			}
		}
	}

	#donnor-page{

		#user-card{

			.card{
				float:left;
				position:relative;
				border:thin solid;
				border-radius:20px;
				border-color:orange;
				width:200px;
				margin-top:4em;
				margin-right:1em;
				padding-top:3em;

				.circle-img{
					position:absolute;
					left:35px;
					bottom:55px;
					width: 4em;
					height: 4em;
					border-radius: 50%;
				}
			}
		}
	}
}
