#child-search-result{
	margin-bottom:30px;

	#card{
		width:250px;
		height:250px;
		padding:2px;
		margin-left:15px;
		margin-top:20px;
		border:thin solid;
		border-radius:10px;
		background-color:#e6e6e6;

		#image-container{
			padding-top:5px;
			padding-bottom:15px;
			border-top-right-radius:10px;
			border-top-left-radius:10px;
			background-color:$light-blue;
			border: thin solid;
			border-color:#0073e6;


			.circle-image{
				width:5em;
				height:5em;
				border:1.5px solid black;
				border-radius:50%;
			}
		}

		#progress-container{
			padding-top:5px;
			padding-bottom:5px;
			background-color:$dark-blue;
			border:thin solid;
			border-color:#004080;

			.progress{
				background-color:white;
				border-color:lighten($dark-blue,25%);

				.progress-meter{
					.fa{
						display:flex;
					}
				}
			}
			.progress,.progress-meter{
				margin-bottom:0;
				border-radius:15px;
			}
		}

		#information-container{
			height:115px;
			padding-top:5px;
			border-bottom-right-radius:10px;
			border-bottom-left-radius:10px;
			background-color:$light-blue;
			border:thin solid;
			border-color:#0073e6;

			h6,h4{
				margin-bottom:1px;
				color:white;
			}
		}

	}

	#card:hover{
		transform: scale(1.07,1.07);
	}
}