footer{
  background-color:#f7f7f7;
  border-top:thin solid;
  border-top-color: $dark-gray;

  #short-footer{
    border-top: thin solid;
    border-bottom:thin solid;
    border-top-color: $dark-gray;
    border-bottom-color: $dark-gray;
  }

  h6{
    display:inline-block;
    margin-left:0.5em;
    margin-bottom:0;
  }

  h5{
    margin-top:0.5em;
  }

  li p{
    margin-left:1.5em;
  }

  #contact-us{
    border-right: thin solid;
  }

  #contact-us, #reach-us{
    border-bottom:thin solid;
    border-color:$light-gray;
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  footer{
    #contact-us, #reach-us{
      padding:1em 0;
    }

    #contact-us{
      border-right:thin none;
    }
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {
  footer{
    #contact-us, #reach-us{
      height:32em;
    }
  }
}
