#goal-container{
	width:100%;
	background-color:$light-blue;
	border: thin solid;
	border-color:blue;
	border-radius:15px;
	box-shadow:5px 5px gray;
	padding:0.5em;

	.progress{
		height:1.3em;
		border-radius:1em;
		border: 1.5px solid;
		border-color:blue;
		background-color:white;
		padding:0.1em;

		.progress-meter{
			border-radius:12px;

			.fa{
				display:flex;
			}
		}
	}

	h5,h6{
		color:white;
	}

	.button{
		border:1.5px solid;
		border-color:white;
		border-radius:10px;
	}

}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up */
@media screen and (min-width: 40em) {
	#goal-container{
		width:90%;
	}
 
}
