header {

  img:hover{
   transform:scale(1.02,1.02);
  }

  padding:10px;
  background-color:$light-blue;

  #search-container{
    input{
      margin-bottom:0;
    }
  }

  .menu-item

  .button{
   float:right;
   margin-bottom:0;
  }

  a:hover{
    border-bottom:none;
  }

  ul.dropdown.menu{

    background-color:transparent;

    a{
      color:white;
    }

    a:hover{
      color:$dark-yellow;
    }

    li{

      li{
      border-top:1px solid white;
      border-left:1px solid white;
      border-right:1px solid white;
      background-color:$light-blue;
      transition:1s;
      }

      li:hover{
        background-color:$dark-blue;
      }
    }
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {

  #header-logged-out 
    .button{
      margin-top:1em;
      margin-bottom:0;
  }

  #search-container{
    input{
      margin-bottom:0;
      height:37px;
    } 
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
	header {

    img{
      width:250px;
    }
	}

  #header-logged-out{
    .button{
      margin-bottom:0;
    }

    img{
      margin-top:5px;
    }
  }

  #search-container{
    height:20px;

    input,.button{
      height:30px;
    }

    .button{
      padding:5px;
    }
  }

  body > header > div > div.small-12.medium-2.column > ul > li > a{
    padding:0;
    padding-right:25px;
    margin-top:9px;
  }

  #search-container > form > div.small-10.column{
    padding-right:0;
  }

}
