#boxes-section{

  span{
    margin:1em 0;
    display: inline-block;
    height: 2em;
    width: 2em;

    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: blue;
    color: white;
    text-align: center;
    font-size: 2em;
  }

  i{
    position:relative;
    left:0%;
    top:12%;
    font-size:1em;
  }

  #bolt-icon{
    background-color:yellow;
  }

  #lock-icon{
    background-color:orange;
  }

  #line-chart-icon{
    background-color:green;
  }

  #refresh-icon{
    background-color:blue;
  }

  #angellist-icon{
    background-color:orange;
  }

  #sliders-icon{
    background-color:blue;
  }

  .box{
    border:thin solid;
    border-color:$light-gray;
    height:25em;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
 
  #boxes-section{

    div:nth-child(1){
      border-top:thin solid;
      border-top-width:medium;
      border-top-color:orange;
      z-index:10;
    }

    div:nth-child(2){
      border-top:thin solid;
      border-top-width:medium;
      border-top-color: blue;
    }

    div:nth-child(5){
      border-bottom:thin solid;
      border-bottom-width:medium;
      border-bottom-color:blue;
      z-index:10;
    }

    div:nth-child(6){
      border-bottom:thin solid;
      border-bottom-width:medium;
      border-bottom-color: orange;
    }
  }

}
