.not-active {
   pointer-events: none;
   cursor: default;
}

ul.tab{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    li {
        float: left;

        a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }

        a:hover {
            background-color: #ddd;
        }

        a:focus, .active {
            background-color: #ddd;
        }
    }

    li.not-active{
        background-color:$light-gray;
        border-color:white;
    }   
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    ul.tab {
        li{ 
            a {
                display: inline-block;
                color: black;
                text-align: center;
                padding: 10px 10px;
                text-decoration: none;
                transition: 0.3s;
                font-size: 10px;
            }
        }
    }
}
