#user-info{
	.circle-img{
		width: 4em;
		height: 4em;
		border-radius: 50%;
		box-shadow: 0.3em 0.3em gray;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em){
	#user-page{
		#student-card .card{
		position:relative;
		border:thin solid;
		border-radius:20px;
		border-color:orange;
		margin-top:4em;
		padding-top:3em;

			.circle-img{
				position:absolute;
				left:30px;
				bottom:40px;
				width: 4em;
				height: 4em;
				border-radius: 50%;
			}
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em){
	#user-page{
		#student-card .card{
		position:relative;
		border:thin solid;
		border-radius:20px;
		border-color:orange;
		margin-top:4em;
		padding-top:3em;

			.circle-img{
				position:absolute;
				left:55px;
				bottom:40px;
				width: 4em;
				height: 4em;
				border-radius: 50%;
			}
		}
	}

}
