/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation
 *= require font-awesome
 *= require owl.carousel
 *= require owl.theme
 *= require_self
 */

@import 'foundation_and_overrides';
@import 'modules/variables';
@import 'modules/mixins';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/info_boxes';
@import 'partials/card_information';
@import 'partials/tab_form';
@import 'partials/user_page';
@import 'partials/goal_container';
@import 'partials/child_search_result';

p.alert, p.notice{
	margin-bottom:0;
	color:white;
	text-align:center;
}

.callout{
	color:black;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field_with_errors{
	border-radius:3px;
	background-color:red;

	label{
		color:white;
		text-align:center;
	}
}

p.alert{
	background-color:red;
}

p.notice{
	background-color:green;
}
a{
  text-decoration: none;
  color:#167ac6;
}

a:hover{
  border-bottom: 1px dotted blue;
} 

.gray-space{
	height:1em;
	background-color:$light-gray;
}

#user_remember_me{
	margin-bottom:0;
}

.button[href="/users/auth/facebook"]{
	background-color:#3b5998;
}

.button[href="/users/auth/stripe_connect"]{
	background-color:$stripe-color;
}

.button[href="/users/auth/stripe_connect"]:hover{
	background-color:#18ef8e;
}

#user_day_of_birth_3i, #user_day_of_birth_2i, #user_day_of_birth_1i,
	#child_birthday_3i, #child_birthday_2i, #child_birthday_1i{
	width:32%;
	font-size:0.7em;
}

/******************************** MEDIA QUERIES ********************************/



/* Small only */
@media screen and (max-width: 39.9375em) {
  
}

/* Medium and up */
@media screen and (min-width: 40em) {
 
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


