<%= form_for Contributor.new, builder: FoundationFormBuilder, remote: true do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :relationship, "Your Relationship to Child" %>
    <%= f.select :relationship, options_for_select(Relationship.names) %>
  </div>
  <div class="field">
    <%= f.label :email_address %>
    <%= f.email_field :email_address, autofocus: true, placeholder:"Contributor's email address" %>
  </div>
  <div class="actions">
    <%= f.submit "Invite Contributor"%>
  </div>
<% end %>
