<div class="row">
	<div class="small-12 text-center">
		<h4>Edit Donor </h4>
		<%= form_for(@contributor, builder: FoundationFormBuilder, method: :put) do |f| %>
			<div class="field">
			  <%= f.label :first_name %>
			  <%= f.text_field :first_name %>
			</div>
			<div class="field">
			  <%= f.label :last_name %>
			  <%= f.text_field :last_name %>
			</div>
			<div class="field">
			  <%= f.label :email_address %>
			  <%= f.email_field :email_address, autofocus: true, placeholder:"Donor's email address" %>
			</div>
			<br>
			<div class="actions">
			  <%= f.submit "Save"%>
			</div>
		<% end %>
	</div>
</div>