<div class="text-center">
  <h4>Contributors</h4>
</div>
<div id="contributor-information" class="row">
  <% @contributors.each do |contributor| %>
    <div class="card text-center small-8 small-push-2 medium-4 medium-push-0 end column">
      <div class="circle-img">
        <%= link_to image_tag("slide01.jpg", class:'circle-img'), contributor_path(contributor) %>
      </div>
      <div>
        <h6><%=  contributor.first_name %> <%=  contributor.last_name %></h6>
        <h6><%=  contributor.email_address %></h6>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="text-center">
  <%= link_to "Add Contributor", after_register_path(:contributor), class: "button" %>
</div>
<br>
