<br>
<div class="text-center">
  <h4>Students</h4>
</div>
<div id="child-information" class="row">
  <% @relationships.each do |relationship| %>
    <div  class="card text-center small-8 small-push-2 medium-4 medium-pull-0 end column">
      <div class="circle-img">
        <%= link_to image_tag(relationship.child.photo.url(:thumb), class:'circle-img'), child_path(relationship.child) %>
      </div>
      <div>
          <h6><%=  relationship.child.first_name %> <%=  relationship.child.last_name %></h6>
          <h6><%=  relationship.child.user_name %></h6>
          <h6><%=  relationship.child.birthday %></h6>
          <h6><%=  relationship.child.email_address %></h6>
      </div>
    </div>
  <% end %>
</div>
<br>
