<div class="text-center">
	<br>
	<h4>Invite Contributors</h4>
</div>
<div class="callout small small-12 medium-6 medium-push-3">
	<%= render 'form', contributor: @contributor %>
</div>
<div class="row">
	<div class="small-12 text-center">
		<%= link_to 'Back', contributors_path, class: "button" %>
	</div>
</div>
