<br>
<div class="small-3 medium-1 float-center">
	<%= image_tag @contributor.avatar.url(:thumb), class: "circle-img float-center" %>
</div>
<br>
<div class="text-center">
	<h6><%= @contributor.first_name %> <%= @contributor.last_name %></h6>
	<h6><%= @contributor.email_address %></h6>
	<% if can? :update, @contributor and @value == false%>
		<%= link_to "Update Information", edit_contributor_path(@contributor), class: "button" %>
	<% end %>
</div>