<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @donor.full_name %></h1>
    <p>
      You have successfully signed up to example.com<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= url_for(host: "localhost:3000", controller: "users/registrations", action: "new", donor: @donor.id, parent: @donor.user) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>