<%= form_for(location, builder: FoundationFormBuilder) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h4>
      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= text_field_tag "address", "", class:"form-control autocomplete", placeholder: "start typing..."  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
