<footer class="expanded row">
  <section>
    <div id="contact-us" class="small-10 small-push-1 medium-6 medium-push-0 columns">
      <h5>Send us a message</h5>
      <form>
        <div class="row">
          <div class="medium-6 columns">
            <label>
              <input type="text" placeholder="Name">
            </label>
          </div>
          <div class="medium-6 columns">
            <label>
              <input type="text" placeholder="Email">
            </label>
          </div>
          <div class="medium-12 columns">
            <label>
              <textarea rows="2" placeholder="Message"></textarea>
            </label>
          </div>
          <div class="medium-12 columns">
            <button type="button" class="button">Send</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section>
    <div id="reach-us" class="small-10 small-push-1 medium-6 medium-push-0 columns">
      <h5>Other ways to reach us</h5>
      <ul class="no-bullet">
        <li><i class="fa fa-envelope-square"></i><h6>E-mail:</h6><p><a href="">example@email.com</a></p></li>
        <li><i class="fa fa-twitter-square"></i><h6>Twitter:</h6><p><a href="">@example</a></p></li>
        <li><i class="fa fa-phone-square"></i><h6>Phone:</h6><p>123-456-7890</p></li>
        <li><i class="fa fa-facebook-square"></i><h6>Facebook:</h6><p><a href="">facebook.com/example</a></p></li>
        <li><i class="fa fa-home"></i><h6>Adress:</h6><p>fake street, somewhere close</p></li>
        <li><i class="fa fa-linkedin-square"></i><h6>LinkedIn:</h6><p><a href=""> linkedin.com</a></p></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="row">
      <div id="short-footer" class="small-12 text-center columns">
        <br>
        <p>&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
        <ul class="menu menu-text-center">
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Legal Information</a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
  