<header id="header-logged-out">
  <div class="expanded row">
    <div class="small-8 small-push-2 medium-6 medium-push-0 columns">
      <%= link_to root_path do %>
        <%= image_tag("CollegeFundme_logo.png") %>
      <% end %>
    </div>
    <div class="small-5 small-push-1 medium-2 medium-push-2 large-1 large-push-3 columns"> 
      <%= link_to "Sign Up", new_user_registration_path, class:"button" %>
    </div>
    <div class="small-5 medium-2 large-1 columns">
      <%= link_to "Log In", new_user_session_path, class:"button" %>
    </div>
  </div>
</header>
