<footer class="expanded row">
  <div id="short-footer" class="small-12 text-center columns">
  	<br>
    <p>&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
    <ul class="menu menu-text-center">
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Legal Information</a></li>
    </ul>
  </div>
</footer>
