<header>
  <div class="expanded row">
    <div class="small-8 small-push-2 medium-4 medium-push-0 column">
      <%= link_to root_path do %>
        <%= image_tag("CollegeFundme_logo.png") %>
      <% end %>
    </div>
    <div class="small-12 medium-2 column">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">Student</a>
          <ul class="menu">
            <li><%= link_to "My Profile", student_profile_path %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="search-container" class="small-12 medium-6 column"> 
      <%= form_tag child_search_path, method: :get do %>
        <div class="small-9 medium-10 column">
          <%= text_field_tag :query, params[:query], placeholder: "Search for a child..."%> 
        </div>
        <div class="small-2 end column">
          <%= submit_tag "Search", name: nil, class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</header>
