<!DOCTYPE html>
<html>
  <head>
    <title>CollegeFundMe</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'CollegeFund.me_icon.png' %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiMwkJq_nPEBsa3a-WAL2TWnyS2mt7oUQ&libraries=places&sensor=false"></script>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user.present? %>
      <% if current_user.has_role? :donor %>
        <%= render partial: 'layouts/donor_header' %>
      <% elsif current_user.has_role? :student %>
        <%= render partial: 'layouts/student_header' %>
      <% elsif current_user.has_role? :parent %>
        <%= render partial: 'layouts/parent_header' %>
      <% else %>
        <%= render partial: 'layouts/header_logged_out' %>
      <% end %>
    <% else %>
      <%= render partial: 'layouts/header_logged_out' %>
    <% end %>
    <%= yield %>
    <% if current_user.present? %>
      <%= render partial: 'layouts/short_footer' %>
    <% else %>
     <%= render partial: 'layouts/footer' %>
    <% end %>
  </body>
</html>
